/*-----------------------------------*\
  #FONTS
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*-----------------------------------*\
  #VARIABLES
\*-----------------------------------*/
:root {
    /*COLORS*/

    /*Primary*/
    --text-color-01: hsl(238, 29%, 16%);
    --text-color-02: hsl(14, 88%, 65%);

    --bg-gradient-01:  hsl(273, 75%, 66%);
    --bg-gradient-02: hsl(240, 73%, 65%);

    /*Neutral*/
    --text-color-03: hsl(237, 12%, 33%);
    --text-color-04: hsl(240, 6%, 50%);

    --dividers-color: blue: hsl(240, 5%, 91%);

    /*TYPOGRAPHY*/
    --body-font: 'Kumbh Sans', sans-serif;

    --text-size: 1.3rem;
}

/*RESPONSIVE*/

/*375px*/
@media (min-width: 375px) {
    :root {
        --text-size: 1.4rem;
    }
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
  }

 input,
 button {
    background: none;
    border: none;
    font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

img {
    max-width: 100%; 
    height: auto;
}

html {
    font-family: var(--body-font-family);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: var(--text-size);
    font-family: var(--body-font);
    background: linear-gradient(var(--bg-gradient-01), var(--bg-gradient-02));
    min-height: 100vh;
}

/*-----------------------------------*\
  #REUSABLE
\*-----------------------------------*/
.container {
    max-width: 100%;
    padding-inline: 2.4rem;
}

.section {
    padding-block: 14.8rem 2rem;
}

/*-----------------------------------*\
  #CODE
\*-----------------------------------*/
main {
    padding-inline: 2.4rem;
}

.accordion-container {
    background-color: #FFFFFF;
    padding-block: 0rem 4.8rem;
    border-radius: 2.3rem;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    position: relative;
}

.top-left {
    /* position: absolute; */
    /* width: calc(100% - 4.8rem); */
}

.top-left .images-container {
    width: 23.7rem; /*limita o crescimento da imagem da mulher e da sombra*/
    height: 13.2rem;
    margin-inline: auto;
    display: flex;
    position: relative;
}

#woman-img-mobile {
    z-index: 1;
    position: absolute;
    bottom: 0;
    transform: translateY(-6rem);
}

#shadow-img-mobile {
    position: absolute;
    width: 23.7rem;
}

#woman-img-desktop,
#shadow-img-desktop,
#box-img-desktop {
    display: none;
}

.bottom-right {
    /* margin-top: 13.2rem; */
}

/*-----------------------------------*\
  #QUERRIES
\*-----------------------------------*/
@media (min-width: 1024px) {
    .accordion-container {
        background-color: #FFFFFF;
        padding-block: 0;
        display: flex;
        align-items: center;
    }

    .top-left,
    .bottom-right {
        flex: 1;
    }
    
    .top-left .images-container {
        width: 100%;
        height: auto;
        /* margin-inline: auto; */
        /* display: flex; */
        /* position: relative; */
    }

    #woman-img-mobile,
    #shadow-img-mobile {
        display: none;
    }

}

/*finalizar o layout de desktop, depois inserir imagens de layout, depois finalizar css e depois fazer js*/